.Player {
    margin: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Player-profile-image {
    width: 150px;
    height: 150px;
    cursor: pointer;
    position: relative;
}

.Player-profile-image:hover {
    opacity: 0.5;
}
